---
import Image from 'astro/components/Image.astro';

interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
  class?: string;
  href?: string;
  target?: string;
}

const {
  src,
  alt,
  width = 80,
  height = 80,
  class: className = '',
  href,
  target = '_blank',
} = Astro.props;
---

{
  href ? (
    <a
      href={href}
      target={target}
      rel={target === '_blank' ? 'noopener noreferrer' : undefined}
      class="flex items-center hover:opacity-80 transition-opacity"
    >
      <Image
        src={src}
        alt={alt}
        width={width}
        height={height}
        class={`h-12 w-12 sm:h-16 sm:w-16 md:h-24 md:w-24 lg:h-32 lg:w-32 xl:h-40 xl:w-40 2xl:h-44 2xl:w-44 object-contain text-white dark:text-black ${className}`}
        loading="eager"
      />
    </a>
  ) : (
    <div class="flex items-center">
      <Image
        src={src}
        alt={alt}
        width={width}
        height={height}
        class={`h-12 w-12 sm:h-16 sm:w-16 md:h-24 md:w-24 lg:h-32 lg:w-32 xl:h-40 xl:w-40 2xl:h-44 2xl:w-44 object-contain text-white dark:text-black ${className}`}
      />
    </div>
  )
}
