---
import BaseLayout from '@layouts/BaseLayout.astro';
import ServicesHero from '@components/Services/ServicesHero.astro';
import ServicesSection from '@components/Services/ServicesSection.astro';
import type { Language } from '../../types/language.type';
import es from '@i18n/locales/es.json';
import en from '@i18n/locales/en.json';
import pt from '@i18n/locales/pt.json';
import Contact from '@components/Contact/Contact.astro';

export const prerender = true;

interface Service {
  id: string;
  title: string;
  subtitle: string;
  description: string;
  icon: string;
  functionality: string;
  advantage: string;
  idealFor: string;
  status: 'available' | 'coming_soon';
}

export function getStaticPaths() {
  return [
    {
      params: { lang: 'es' },
    },
    {
      params: { lang: 'en' },
    },
    {
      params: { lang: 'pt' },
    },
  ];
}

const lang = Astro.params.lang as Language;
const translations = { es, en, pt };
const t = translations[lang];
const services = t.services_page.services as Service[];
---

<BaseLayout
  lang={lang}
  title={`${t.services_page.hero.title} - Key Protocol`}
  footer={t.footer}
>
  <div id="hero" class="h-1"></div>

  <ServicesHero
    title={t.services_page.hero.title}
    description={t.services_page.hero.description}
  />

  <ServicesSection services={services} />
  <Contact contact={t.contact} />
</BaseLayout>
