---
import '@styles/index.css';
import type { Language } from '@custom-types/index';
import Header from './Header.astro';
import Footer from './Footer.astro';
import BirthdayModal from './components/BirthdayModal.jsx';
import Contact from './components/Contact/Contact.astro';

interface Props {
  lang: Language;
  title: string;
  isHomePage?: boolean;
  footer?: {
    copyright: string;
    tagline: string;
  };
  children?: any;
}

import es from '@i18n/locales/es.json';
import en from '@i18n/locales/en.json';
import pt from '@i18n/locales/pt.json';

const { lang, title, footer, isHomePage = false } = Astro.props;
const translations: Record<Language, typeof es | typeof en | typeof pt> = {
  es,
  en,
  pt,
};
const t = translations[lang as Language];
---

<html lang={lang}>
  <head>
    <meta charSet="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/org/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/org/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/org/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/org/favicon_io/site.webmanifest" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossOrigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    className="overflow-x-hidden min-h-screen font-family-poppins transition-colors duration-300 text-white"
    style="background-color: var(--color-primary);"
  >
    <Header lang={lang} isHomePage={isHomePage} />
    <slot />
    <Contact contact={t.contact} />
    {footer && <Footer footer={footer} />}
    <BirthdayModal translations={t.birthday_modal} client:idle />
  </body>
</html>
