---
import '@styles/index.css';
import type { Language } from '../types/language.type';
import Header from './Header.astro';
import Footer from './Footer.astro';

interface Props {
  lang: Language;
  title: string;
  footer?: {
    copyright: string;
    tagline: string;
  };
}

const { lang, title, footer } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icons/org/logo-transp.PNG" />
    <link rel="apple-touch-icon" href="/icons/org/logo-transp.PNG" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header lang={lang} />
    <slot />
    {footer && <Footer footer={footer} />}
  </body>
</html>
